{% extends 'blog/base.html' %} {% load static %} 
{% block title %} 
Alerts | Pirates Venture 
{% endblock title %} 
{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock css %} 
{% block banner %}
<section class="banner mb-5">
  <video
    src="{% static 'images/video.mp4' %}"
    class="img-fluid"
    autoplay
    muted
    loop
  ></video>
  <div class="overlay"></div>
</section>
{% endblock banner %} 

{% block alert %}

<div class="container context mt-5 mb-5" id="login" style="min-height: 500px">
  <h4 class="text-center display-4 font-weight-bold">Alert!</h4>
  <hr class="w-50 mx-auto mb-5 mt-4" />

  <div class="container">
    {% for i in messages %}

    <div
      class="alert alert-{{i.tags}} alert-dismissible fade show"
      role="alert"
    >
      <strong>{{i.tags}} </strong>{{i}}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock alert %}
