{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pirates-Venture</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %} " />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <!--navigation section start-->
    <div id="home">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Pirates Venture</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse mid-nav"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav mx-auto mid-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#blog">Blog</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
        
            </ul>

            <ul class="navbar-nav">
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/admin"
                  >Hey!{{user.first_name}}</a
                >
              </li>

              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/account/logout/"
                  >Logout</a
                >

                {% else %}
              </li>

              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/account/login"
                  >Login</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/account/register/">Signup</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!--navigation section end-->

    <!--banner section start-->

    <div class="banner text-center">
      <img src="{% static 'images/back2.jpg' %}" class="img-fluid" alt="" />
      <div class="overlay"></div>

      <div class="heading w-100 text-white">
        <h5>Hello, I'm</h5>
        <h1>Aman Mishra</h1>
        <p>And this is my world</p>
      </div>
    </div>
    <!--banner section end-->

    <!--about me section start-->

    <div class="container context mt-4" id="about">
      <h3 class="text-center font-weight-bold display-4">About me</h3>
      <hr class="w-50 mx-auto" />

      <div class="row">
        <div class="col-lg-6 col-md-6 col-12 pb-4">
          <img src="{% static 'images/me.png' %}" class="img-fluid" alt="" />
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <h3>Wanna Know me?</h3>
          <hr />
          <p>
            I am a computer science student and self taught developer. And by
            profession i am a web developer currenlty working on my blog
            project. I love to build stuff.
          </p>
          <button class="btn btn-dark">
            <a href="#" class="text-white font-weight-bold">Know more</a>
          </button>
        </div>
      </div>
    </div>

    <!--about me section end-->

    <!--blog section start-->
    <div class="container context" id="blog">
      <h3 class="text-center display-4">Blog</h3>
      <hr class="w-50 mx-auto" />

      <!--col start-->
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for i in bpost %}

        <div class="col">
          <div class="card h-100">
            <img src="{{i.thumbnail}}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{i.title}}</h5>
              <a href="/blogposts/{{i.slug}}" class="btn btn-dark"
                >Read more</a
              >
            </div>
          </div>
        </div>
        {% endfor %}
        <button class="btn btn-dark w-50 mx-auto mt-5 mb-5">
          <a href="/blog/blogposts/">More</a>
        </button>
      </div>
      <!--col end-->
    </div>
    <!--blog section end-->

    <!--newsletter start-->

    <div class="container-fluid pb-5 pt-5 text-center news">
      <h3 class="font-weight-bold">Newsletter</h3>
      <p>Subscribe to our newsletter</p>

      <form action="subscribe/" method="post" class="form-inline mt-2 w-25">
        {% csrf_token %}
        <input
          required
          type="email"
          name="query"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          class="form-control"
          placeholder="Email address"
        />
        <button type="submit" class="btn button btn-dark">submit</button>
      </form>
    </div>

    <!--newsletter end-->

    <!--contact section start-->

    <div class="container context mt-5 mb-5" id="contact">
      <h4 class="text-center display-4 font-weight-bold">Contact us</h4>
      <hr class="w-50 mx-auto" />

      <div class="contact w-75 mx-auto">
        <form action="/" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              required
              type="email"
              name="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >First name</label
            >
            <input
              type="text"
              required
              name="first_name"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Last name</label>
            <input
              type="text"
              name="last_name"
              required
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Your message</label
            >
            <textarea name="msg" id="" class="form-control" required></textarea>
          </div>

          <div id="emailHelp" class="form-text mt-2 mb-4">
            We'll never share your email with anyone else.
          </div>

          <button type="submit" class="btn btn-dark">Submit</button>
        </form>
      </div>
    </div>
    <!--contact section end-->

    <!--footer section-->

    <footer class="bg-dark text-white text-center" id="footer">
      <!-- Copyright -->
      <div class="text-center p-3">
        ©2020 copyright
        <a class="text-white" href="#">www.piratesventure.com</a>
      </div>
      <!-- Copyright -->
    </footer>

    <!--footer section end-->

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
